.about{
    width: 70vw;
    margin: 50px auto;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media(max-width: 1350px){
        width: 80vw;
    }
    @media(max-width: 1150px){
        width: 90vw;
    }
    @media(max-width: 1000px){
        width: 100vw;
    }

    @media(max-width: 900px){
        padding: 50px 0;
    }
    @media(max-width: 700px){
        flex-direction: column-reverse;
        padding: 0;
    }
    .contentWrapper{
        padding: 50px;
        @media(max-width: 700px){
            padding: 50px 20px;
        }
        .title{
            font-weight: 700;
            font-size: 35px;
            color: #fff;
            margin-bottom: 30px;
            line-height: 3rem;
            @media(max-width: 700px){
                font-size: 30px;
                font-weight: 600;
            }            @media(max-width: 480px){
                font-size: 22px;
                line-height: 1.8rem;
                margin-bottom: 20px;
            }        }
        .content{
            color: #888781;
            font-weight: 400;
            font-size: 20px;
            text-align: left;
        }
    }
    .image{
        
        .img{
            width: 400px;
            @media(max-width: 700px){
                width: 100vw;
            }
        }

    }
}