.aboutTeam{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 80vw;
    margin: 60px auto;
    @media(max-width: 1300px) {
        width: 90vw;
    }
    @media(max-width: 1000px) {
        flex-direction: column;
    }
    .contentWrapper{
        .title{
            font-size: 55px;
            font-weight: 700;
            line-height: 4rem;
            margin-bottom: 30px;
            @media(max-width: 800px){
                font-size: 35px;
                line-height: 3rem;
            }
            @media(max-width: 600px){
                font-size: 24px;
                line-height: 1.8rem;
                margin-bottom: 20px;
            }
        }

        .content{
            font-weight: 400;
            font-size: 20px;
        }

    }
    .image{
        .img{
            width: 30vw;
            @media(max-width: 1000px){
                width: 90vw;
            }
            @media(max-width: 800px){
                width: 100vw;
            }
        }
    }
}