.connect{
    width: 70vw;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #121214;
    color: #fff;
   
    @media(max-width: 1350px){
        width: 80vw;
    }
    @media(max-width: 1150px){
        width: 90vw;
    }
    @media(max-width: 1000px){
        width: 100vw;
    }

    @media(max-width: 900px){
        padding: 50px 0;
    }
    @media(max-width: 700px){
        flex-direction: column;
        padding: 0;
    }
  
    .image{
        
        img{
            width: 100%;
            @media(max-width: 900px){
                width: 40vw;
            }

            @media(max-width: 700px){
                width: 100vw;
            }
        }

    }

    .content{
        margin: auto;
        @media(max-width: 700px){
            width: 90vw;
        }
        .title{
            font-weight: 700;
            font-size: 30px;
            margin-top: 30px;
            @media(max-width: 768px){
                font-size: 24px;
                margin-top: 20px;
            }
            @media(max-width: 480px){
                font-size: 20px;
            }
        }

        .row{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 50px;
            margin: 30px 0;

            @media(max-width: 600px){
                flex-direction: column;
                align-items: baseline;
            }
            .col{
                .subTitle{
                    font-size: 25px;
                    font-weight: 600;
                    font-family: 'Barlow';
                    margin-bottom: 10px;
                }

                .subContent{
                    font-weight: lighter;
                    font-size: 20px;
                }
                .hidden{
                    transition: opacity 0.5s ease-out;
                }
                .hollow{
                    background-color: transparent;
                    border: 1px solid #fff;
                    margin-top: 20px;

                    .hidden {
                        opacity: 0;
                        position: absolute;
                    }
                    &:hover {
                        background-color: #888781;
                        border: 1px solid #888781;
                        .hidden {
                            position: relative;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .social{
        padding: 30px;
        border-top: 1px solid #89898950;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .subTitle{
            font-family: 'Barlow';
            font-weight: 600;
            font-size: 20px;
            text-align: center;
        }

        .icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 50px;

            a{
                color: #fff;
            }
        }
    }
}