.howTheyDo{
    width: 50vw;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    @media(max-width: 1000px){
        width: 90vw;
    }
    .title{
        font-weight: 700;
        font-size: 44px;
        line-height: 3rem;
        margin-bottom: 20px;
        @media(max-width: 1000px){
            font-size: 36px;
        }
        @media(max-width: 600px){
            font-size: 24px;
            line-height: 2rem;
            margin-bottom: 15px;
        }
    }

    .content{
        color: #888781;
        margin-bottom: 70px;
    }

    .subtitle{
        color: #888781;
        font-family: 'Barlow';
        border-bottom: 1px solid #888781;
        padding-bottom: 15px;
    }

    .items{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 50px;
        .item{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 20px;
            .slNo{
                font-size: 50px;
                font-weight: 600;
                min-width: 60px;

                @media(max-width: 1000px){
                    font-size: 30px;
                    min-width: 30px;
                }
            }

            .contentWrapper{
                text-align: left;
                .itemTitle{
                    font-size: 25px;
                    font-family: 'Barlow';
                    font-weight: 600;
                    margin-bottom: 10px;
                    @media(max-width: 1000px){
                        font-size: 20px;
                    }
                }

                .itemContent{
                    font-weight: 400;
                    color: #393939;
                    @media(max-width: 1000px){
                        text-align: justify;
                    }
                }
            }
        }

    }

}