.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 96px;
    border-bottom: 1px solid #121214;
    height: 10vh;

    @media (max-width: 1300px) {
        padding: 0 50px;
    }
    @media (max-width: 1000px) {
        padding: 0 20px;
    }


    .navItems {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 50px;
        @media (max-width: 1000px) {
            animation: 1s slide normal;
            opacity: 0;
            flex-direction: column;
            background-color: #000;
            position: absolute;
            width: 100%;
            left: 0;
            top: 10vh;
            z-index: 9;
            height: 90vh;
            padding-top: 80px;
            display: none;
        }
        &.true{
            opacity: 1;
            display: flex;
        }
        a {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            @media (max-width: 1000px) {
                color: #fff;
            }
            &:hover {
                color: #888781;
            }
            .navItem {
                font-family: "Barlow";
                font-weight: 500;
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .callBtn {
                list-style: none;
                background-color: #121214;
                padding: 15px 30px;
                color: #fff;
                border-radius: 37px;
                font-size: 18px;
                transition: background-color 1s ease;
                &:hover {
                    background-color: #888781;
                }
                @media (max-width: 1000px) {
                    background-color: #fff;
                    color: #000;
                }
                &:has(.whatsappIcon) {
                    background-color: transparent;
                    padding: 0;
                    &:hover {
                        background-color: transparent;
                    }
                }
                .whatsappIcon {
                    width: 42px;
                    height: 42px;
                    object-fit: contain;
                }
                @media (max-width: 1000px) {
                    .whatsappIcon {
                        width: 38px;
                        height: 38px;
                    }
                }
            }
        }
    }
    .mobileNav {
        display: flex;
        gap: 18px;
        align-items: center;
        display: none;
        @media (max-width: 1000px) {
            display: flex;
            gap: 12px;
        }
        .call {
            width: 40px;
            height: 40px;
            border: 1px solid #000;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                font-size: 20px;
                padding: 10px;
            }
        }
        a:has(.whatsappIcon) {
            .callBtn {
                background-color: transparent;
                padding: 0;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .whatsappIcon {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
        .hamburger {
           
            span {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;

                background: #000;
                border-radius: 3px;

                z-index: 1;

                transform-origin: 4px 0px;

                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
            }

            &:first-child {
                transform-origin: 0% 0%;
            }

            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }

        }
        

        .true {
            span {
                opacity: 1;
                transform: rotate(45deg) translate(-10px, -12px);
                background: #fff;
            }
            span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            span:nth-last-child(2) {
                transform: rotate(-45deg) translate(-7px, 6px);
            }
        }
    }

    &.true{
        background-color: #000 !important;
        .navItems {
            a[href*="wa.me"] {
                display: none !important;
                visibility: hidden !important;
                pointer-events: none !important;
                position: absolute !important;
                left: -9999px !important;
            }
        }
    }
}
