.showcase {
    height: 90vh;
    position: relative;


    .swiper-button-next,
    .swiper-button-prev {
        color: #f9f3ec; // change to any color you want, e.g., white
    }

    .swiper-pagination-bullet {
        background-color: #f9f3ec; // default bullet color
        opacity: 0.7; // optional for transparency
    }

    .swiper-pagination-bullet-active {
        background-color: #000; // active bullet color
        opacity: 1;
    }

    .bg {
        height: 90vh;
        width: 100%;
        object-fit: cover;
        
        @media(max-width: 1300px){
            object-position: 90%;
        }
        @media(max-width: 600px){
            object-position: 80%;
        }
    }

    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        padding: 40px;
        border-radius: 8px;
        @media(max-width: 768px){
            padding: 30px;
        }
        @media(max-width: 480px){
            padding: 20px;
        }
        .title {
            font-size: 65px;
            font-weight: 800;
            margin-bottom: 10px;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
            @media(max-width: 1300px){
                font-size: 50px;
            }
            @media(max-width: 768px){
                font-size: 32px;
            }
            @media(max-width: 480px){
                font-size: 24px;
            }
        }

        p {
            font-size: 22px;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
            @media(max-width: 768px){
                font-size: 16px;
            }
            @media(max-width: 480px){
                font-size: 14px;
            }
        }

        .actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 50px;
            margin-top: 50px;

            @media(max-width: 600px){
                flex-direction: column;
                gap: 20px;
            }

            .hidden{
                transition: opacity 0.5s ease-out;
            }
            .solid {
                background-color: #fff;
                color: #0c0c0c;
                
                .hidden {
                    opacity: 0;
                    position: absolute;
                }
                &:hover {
                    background-color: $bg-clr;
                    .hidden {
                        position: relative;
                        opacity: 1;
                    }
                }
            }

            .hollow {
                background-color: transparent;
                color: #fff;
                border: 1px solid #fff;
                .hidden {
                    opacity: 0;
                    position: absolute;
                }
                &:hover {
                    background-color: #888781;
                    border: 1px solid #888781;
                    .hidden {
                        position: relative;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
